<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.oracle.hrb.err.dao.UserDao">
    <sql id="col">
	  u_id as id,
	  u_name as name ,
	  u_nickname as nickname,
	  u_password as password
  </sql>
    <insert id="add">
		insert into user(u_id,u_name,u_nickname,u_password) values(#{id},#{name},#{nickname},#{password})
	</insert>
    <select id="findAll" resultType="com.oracle.hrb.err.bean.User">
        SELECT
        <include refid="col"/>FROM user
    </select>
    <delete id="delete">
		delete from user where u_id = #{id}
	</delete>
    <update id="update">
		update user set u_password = #{password} where u_id = #{id}
	</update>
    <select id="findById" resultType="com.oracle.hrb.err.bean.User">
    select
    <include refid="col"/>
    from user where u_id = #{id}
</select>
    <select id="findByName" resultType="com.oracle.hrb.err.bean.User">
        select
        <include refid="col"/>
        from user where u_name = #{name}
    </select>
    <update id="update1">
		update user set u_name = #{1}where u_id = #{0}
	</update>
</mapper>
